---
import GitHub from './icons/GitHub.astro';
import Link from './icons/Link.astro';
import LinkButton from './LinkButton.astro';

import { Icon } from 'astro-icon/components';

const TAGS = {
  REACT: {
    name: 'React',
    class: 'bg-[#003159] text-white',
    icon: 'devicon:react',
  },
  NEXT: {
    name: 'Next.js',
    class: 'bg-black text-white',
    icon: 'devicon:nextjs',
  },
  TYPESCRIPT: {
    name: 'TypeScript',
    class: 'bg-[#003159] text-white',
    icon: 'devicon:typescript',
  },
  VITE: {
    name: 'Vite',
    class: 'bg-[#4f1f72] text-white',
    icon: 'devicon:vitejs',
  },
  ELECTRON: {
    name: 'Electron',
    class: 'bg-[#2a2e3a] text-white',
    icon: 'devicon:electron',
  },
  HTML: {
    name: 'HTML',
    class: 'bg-[#c9531d] text-white',
    icon: 'devicon:html5',
  },
  JAVASCRIPT: {
    name: 'JavaScript',
    class: 'bg-[#b5a11c] text-white',
    icon: 'devicon:javascript',
  },
  OPENALEX: {
    name: 'OpenAlex',
    class: 'bg-[#2a2e3a] text-white',
    icon: 'openalex',
  },
};

const PROJECTS = [
  {
    title: 'CourseTree - Visualiza tu plan de estudios',
    description:
      'CourseTree es una herramienta interactiva que te permite visualizar de manera clara y atractiva el plan de estudios de tu carrera.',
    link: 'https://coursetree.vercel.app/',
    github: 'https://github.com/MrSquatch/CourseTree',
    image: '/projects/coursetree.webp',
    tags: [TAGS.REACT, TAGS.NEXT, TAGS.TYPESCRIPT],
  },
  {
    title: 'App Personalizada - Gestión de Presupuesto Mensual',
    description:
      'Aplicación de escritorio desarrollada a medida para un cliente, diseñada para gestionar un presupuesto mensual personal. Incluye tablas para el ingreso de datos y un dashboard de resumen, con tablas y gráficos de pastel.',
    link: 'https://preview-presupuesto.netlify.app/',
    github: 'https://github.com/MrSquatch/Preview-AppPresupuesto',
    image: '/projects/presupuesto.webp',
    tags: [TAGS.REACT, TAGS.VITE, TAGS.TYPESCRIPT, TAGS.ELECTRON],
  },
  {
    title: 'Papers Tree - Explorador de Referencias Académicas',
    description:
      'Visualiza y explora referencias científicas en un grafo interactivo y personalizable. Diseñado para académicos y estudiantes que buscan analizar redes bibliográficas de manera intuitiva.',
    link: 'https://mrsquatch.github.io/Papers-Tree/',
    github: 'https://github.com/MrSquatch/Papers-Tree',
    image: '/projects/paperstree.webp',
    tags: [TAGS.HTML, TAGS.JAVASCRIPT, TAGS.OPENALEX],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Recién llegado vs 5 años en Nueva Zelanda"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    {/* <tag.icon class="size-4" /> */}
                    <Icon name={tag.icon} class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
